.ebul_cbclcar, .ebul_cbclcar ul {
  background-color: #FFFFFF;
  border: 1px solid #646464;
  display: block;
  font-size: 1px;
  margin: 0px;
  overflow: auto;
  padding: 2px;
  position: absolute;
  visibility: hidden;
}

.ebul_cbclcar_shadow {
  background-color: #777777;
  display: block;
  margin: 0px;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
}

.ebul_cbclcar table {
  border-collapse: separate;
}

.ebul_cbclcar tr {
  background-color: #FFFFFF;
  cursor: pointer;
  font-size: 1px;
}

.ebul_cbclcar td {
  border: 1px solid #FFFFFF;
  padding: 3px;
  text-align: left;
}

.ebul_cbclcar td a {
  color: #000000;
  font-family: "Calibri", serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.ebul_cbclcar tr.hot, .ebul_cbclcar tr.expanded {
  background-color: #003366;
}

.ebul_cbclcar tr.hot td, .ebul_cbclcar tr.expanded td {
  border-color: #003366;
}
.ebul_cbclcar tr.hot a, .ebul_cbclcar tr.expanded a {
  color: #FFFFFF;
  font-family: "Calibri", serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

ul.ebul_cbclcar {
  position: absolute;
  visibility: hidden;
}                               

.cbclcarebul_menulist .spaced_li {
  padding: 0px 0px 1px 0px;
}

.cbclcarebul_menulist li {
  list-style-type: none;
  
}

.cbclcarebul_menulist img {
  vertical-align: bottom;
  
}

.cbclcarebul_menulist {
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}
